<div
  class="p-4 border-2 border-solid rounded-lg mt-4 bg-white"
  *ngFor="let control of applicantsFormGroupKeys()"
>
  <form [formGroup]="applicantsFormGroup">
    <app-applicant-form
      [formControlName]="control"
      (primaryChanged)="primaryApplicantChange(control, $event)"
      (removeApplicant)="removeApplicantControl(control)"
      [primaryDefault]="isOnlyOneApplicant(control)"
      [hideCloseIcon]="applicantsFormGroupKeys().length >= 2"
    ></app-applicant-form>
  </form>
</div>
<div class="w-full flex justify-center">
  <button
    class="p-2"
    mat-icon-button
    color="primary"
    aria-label="Add another applicant"
    (click)="addAnotherApplicant()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="w-full flex justify-center pt-10">
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="!applicantsFormGroup.valid"
  >
    Submit to console
  </button>
</div>
